body{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.877);
}

p, h1, h3, label, li{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: inline-flex;
    max-width: 90vw;
    width: 35%;
    justify-content: center;
    justify-items: center;
    padding: 1% 0%;
    margin: 1%;
    user-select: none;
}

.funcoes{
    max-width: 60vw;
    width: 75%;
    margin: 1% 2.5%;
    padding: 2.5%;
}

.funcoes input{
    border-radius: 7px;
    margin: 1% 0 5% 0;
    user-select: none;
}

.funcoes button{
    border-radius: 10px;
    border: none;
    background-color: rgb(97, 139, 255);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 2.5%;
    cursor: pointer;
    user-select: none;
    padding: 2.5% 2.5%;
}

.funcoes button:hover{
    background-color: rgb(75, 108, 196);
}

.funcoes p{
    font-size: 12px;
}

.lista{
    max-width: 25vw;
    width: 30%;
    margin: 1% 2.5%;
    user-select: none;
}
.lista ul{
    padding: 0;
}